apiVersion: apps/v1
kind: Deployment
metadata:
  name: gke-iris-demo-workload        # From table #10
  labels:
    app: iris-api                      # Fixed deployment label
spec:
  replicas: 2
  selector:
    matchLabels:
      app: iris-api                    # Must match pod labels
  template:
    metadata:
      labels:
        app: iris-api                  # Pod labels
    spec:
      containers:
        - name: iris-api               # Fixed container name (#11)
          image: us-central1-docker.pkg.dev/lively-nimbus-473407-m9/my-repo/iris_api:latest  # IMAGE (#12)
          ports:
            - containerPort: 8000      # (#13)
          resources:
            limits:
              memory: "2Gi"
              cpu: "500m"
            requests:
              memory: "2Gi"
              cpu: "500m"
          env:
            - name: MODEL_PATH
              value: "/app/model.joblib"
