apiVersion: apps/v1
kind: Deployment
metadata:
  name: gke-iris-demo-workload       # Deployment name
  labels:
    app: iris-api                     # Deployment label
spec:
  replicas: 2                         # Number of pod replicas
  selector:
    matchLabels:
      app: iris-api                   # Must match template labels
  template:
    metadata:
      labels:
        app: iris-api                 # Must match selector
    spec:
      containers:
        - name: iris-api              # Clean container name
          image: us-central1-docker.pkg.dev/lively-nimbus-473407-m9/my-repo/iris_api:latest
          ports:
            - containerPort: 8000
          resources:
            requests:
              memory: "2Gi"
              cpu: "500m"
            limits:
              ephemeral-storage: "1Gi"
      restartPolicy: Always
