apiVersion: v1
kind: Service
metadata:
  name: iris-service
  labels:
    app: iris
spec:
  type: LoadBalancer
  selector:
    app: iris
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
