apiVersion: v1                          # API version for Service resources
kind: Service                            # Specifies this is a Service object
metadata:
  name: gke-iris-demo-workload-service   # Service name; used to reference the service within Kubernetes
spec:
  type: LoadBalancer                     # Service type; exposes service externally using a cloud provider's load balancer
  selector:
    app: gke-iris-demo-workload          # Selects pods with this label to route traffic to (must match deployment label)
  ports:
    - port: 80                            # Port on which the service is exposed externally
      targetPort: 8000                    # Port on the container that the traffic is forwarded to
